<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>pc</title>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="pc.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>
<body>
    <div class="beijingtu">
    <div class="kuangjia">
        <div class="daohang_1">
            <ul>
                <li>控股首页</li>
                <li>卧龙资讯</li>
                <li>招标中心</li>
                <li>人力资源</li>
                <li>投资者关系</li>
                <li>English</li>
            </ul>
            <input type="text" id="xinghao" placeholder="请输入型号">
            <button id="sou">搜索</button>
        </div>
        <div class="daohang_2">
            <div class="daohang_fe1">
                <a href="##"><p>wolong卧龙</p></a>
            </div>
            <div class="daohang_fen2">
                <ul>
                    <li class="li1">卧龙集团
                        <ul class="yin1">
                            <li>鬼知道这是什么1</li>
                        </ul>
                    </li>
                    <li class="li2">卧龙制造
                        <ul class="yin2">
                            <li>鬼知道这是什么2</li>
                        </ul>
                    </li>
                    <li class="li3">市场
                        <ul class="yin3">
                            <li>鬼知道这是什么3</li>
                        </ul>
                    </li>
                    <li class="li4">产品
                        <ul class="yin4">
                            <li>鬼知道这是什么4</li>
                        </ul>
                    </li>
                    <li class="li5">技术
                        <ul class="yin5">
                            <li>鬼知道这是什么5</li>
                        </ul>
                    </li>
                    <li class="li6">其他产业
                        <ul class="yin6">
                            <li>鬼知道这是什么6</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="xuanting">
            <span>我是不能动的</span>
        </div>
        <div  class="ting">
            <ul>
            <a class="A"><li>你好啊 傻狗</li></a>
        <a class="B"><li>WEISHENME</li></a>
        </ul>
    </div>
    <!-- <div class="qiren">
        <p>TMD</p>
    </div> -->
    </div>
</div>
        <div class="zhongbu">
        <div class="lianglan">
                <div class="k1"><h3>卧龙制造</h3></div>
                    <div class="lunbo1">
                        <a href="##">
                            <img src="images/卧龙制造1.jpg" width="220" height="220" alt="">
                            <p>
                                <span>什么鬼</span>
                            </p>
                            <h4>我好想写点什么</h4>
                        </a>
                        <a href="##">
                            <img src="images/卧龙制造2.jpg" width="220" height="220" alt="">
                            <p>
                                <span>什么鬼</span>
                            </p><h4>我好想写点什么</h4>
                        </a>
                        <a href="##">
                            <img src="images/卧龙制造3.jpg" width="220" height="220" alt="">
                            <p>
                                <span>什么鬼</span>
                            </p>
                            <h4>我好想写点什么</h4>
                        </a>
                        <a href="##">
                            <img src="images/卧龙制造4.jpg" width="220" height="220" alt="">
                            <p>
                                <span>什么鬼</span>
                            </p>
                            <h4>我好想写点什么</h4>
                        </a>
                        <a href="##">
                                <img src="images/卧龙制造1.jpg" width="220" height="220" alt="">
                                <p>
                                    <span>什么鬼</span>
                                </p>
                                <h4>我好想写点什么</h4>
                            </a>
                            <a href="##">
                                <img src="images/卧龙制造2.jpg" width="220" height="220" alt="">
                                <p>
                                    <span>什么鬼</span>
                                </p><h4>我好想写点什么</h4>
                            </a>
                            <a href="##">
                                <img src="images/卧龙制造3.jpg" width="220" height="220" alt="">
                                <p>
                                    <span>什么鬼</span>
                                </p>
                                <h4>我好想写点什么</h4>
                            </a>
                    </div>
                    </div>
        <div class="qiyebao">            
                <div class="k2"><h3>卧龙制造</h3></div>
                <div class="wolongtu">
                    <a><img src="images/卧龙.png" width="270" height="220" alt=""><p>小茄子</p></a>
                </div>
            </div>
            <div class="zuidicengle">
                    <div class="zdcl1">
                        <p>广告位招租</p>
                    </div>
                    <div class="zdcl2">
                        <ul>
                            <li v-for="item in me">{{item.name}}</li>
                            <li v-for="item in me">{{item.place}}</li>
                            <li v-for="item in me">{{item.suplaz}}</li>
                            <li v-for="item in me">{{item.name}}</li>
                            <li v-for="item in me">{{item.place}}</li>
                            <li v-for="item in me">{{item.suplaz}}</li>
                            <li v-for="item in me">{{item.name}}</li> 
                            <li v-for="item in me">{{item.place}}</li>
                            <li v-for="item in me">{{item.suplaz}}</li>                                       
                        </ul>
                    </div>
                    <div class="zdcl3">
                         <p>小茄子</p>
                    </div>
        </div>
        <div><a href="javascript:void(0);" class="zuobian">左</a></div>
                        <div><a href="javascript:void(0);" class="youbian">右</a></div>
        <div id="dingbu">
            <button>返回顶部</button>
        </div>
        <div id="ding" style="position:fixed;right: 10px;top: 40%">
            <button>来</button>
        </div>
        <div id="dng" style="position:fixed;right: 10px;top: 50%">
            <button>再来</button>
        </div>
   
    

</body>
<script src="./pc.js"></script>
</html>